/* Thin */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Thin.otf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-ThinItalic.otf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Light.otf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-LightItalic.otf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Book NORMAL */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Book.otf) format('truetype');
  font-weight: normal; /* same as 400 */
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-BookItalic.otf) format('truetype');
  font-weight: normal; /* same as 400 */
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Medium.otf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-MediumItalic.otf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Semibold.otf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-SemiboldItalic.otf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold - BOLD */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Bold.otf) format('truetype');
  font-weight: bold; /* same as 700 */
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-BoldItalic.otf) format('truetype');
  font-weight: bold; /* same as 700 */
  font-style: italic;
}

/* Heavy */
@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-Heavy.otf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url(fonts/CooperHewitt/CooperHewitt-HeavyItalic.otf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "DIN";
  src: url(fonts/DIN/din-regular.ttf);
  font-weight: 400;
  font-style: normal;
}









$font-stack:    CooperHewitt 100%;
$primary-color: #333;
$link-color: #424242;
$background-color: #fff;





body {
  background-color: $background-color;
  font: 100% CooperHewitt;
  font-weight:300;
  color: $primary-color;
  margin: 0;
}



.logo-text{
  position: absolute;
  margin-left: 8pt;
  margin-bottom: 5pt;
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  i{margin-right: 6pt;}

  a{color: #333;}
}
