<div class="ability-table">



	<div class="ability-row">
		<div>Strength</div>
		<div class="ability-score"> <input type="number" [(ngModel)]="str" placeholder="str"> </div>
	</div>


	<div class="ability-row">
		<div>Dexterity</div>
		<div class="ability-score"><input [(ngModel)]="dex" placeholder="dex"></div>
	</div>


	<div class="ability-row">
		<div>Constitusion</div>
		<div class="ability-score"><input [(ngModel)]="con" placeholder="con"></div>
	</div>


	<div class="ability-row">
		<div>Intelligence</div>
		<div class="ability-score"><input [(ngModel)]="int" placeholder="int"></div>
	</div>


	<div class="ability-row">
		<div>Wisdom</div>
		<div class="ability-score"><input [(ngModel)]="wis" placeholder="wis"></div>
	</div>


	<div class="ability-row">
		<div>Charisma</div>
		<div class="ability-score"><input [(ngModel)]="cha" placeholder="cha"></div>
	</div>




</div>
