.card {
  position: relative;
  background-color: #f4f4f4;
  height: 100%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7); }

.card {
  height: 100%; }

.card .card-image img {
  object-fit: cover !important; }

.artist-photo img {
  max-width: 350px; }
