body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  display: flex;

  flex-direction: row;
}

a {
  color: #00B7FF;
}


.event-card{
  font-size: 24pt;

  width:370pt;
  height: 400pt;
  background-color: blue;
  color: white;

  margin-bottom: 25pt;
  margin-left: 40pt;
}

.event-title{
  width: 100%;
  height: 80pt;

  background-color: gray;
  color: black;

  display: flex;

  justify-content: center;
  align-items: center;
}

.event-description{
  font-size: 18pt;
  width: 100%;
  height: auto;


  overflow-x: visible;
}
